#loading-screen {
    position: fixed;
    inset: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: opacity .3s ease;
}

#loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* Your spinner */

#loading-screen svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

#loading-screen circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}



.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.loader-content p {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Arial, sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
}